<html>
  <head>
    <title>Administration Panel</title>
    <link rel="stylesheet" href="/css/styles.css" type="text/css" />
  </head>
  <body class="home">
    <div class="logo1">
      <img
        src="/img/logo_png.png"
        class="logo-img"
        width="100%"
        height="100%"
      />
    </div>
    <div class="main">
      <a href="firstpage"><button class="submit">INSITITUE</button></a>
      <br />
      <br />
      <br />
      <a href="userlog "><button class="submit">STUDENT</button></a>
    </div>
  </body>
</html>
