<html>
  <head>
    <title>Exam Corner Result</title>
    <link rel="stylesheet" href="/css/styles.css" type="text/css" />
  </head>
  <body>
    <div class="logo1">
      <img
        src="/img/logo_png.png"
        class="logo-img"
        width="100%"
        height="100%"
      />
    </div>

    <div class="submit-main">
      <div>
        <p class="res">Correct Answer : <%=correctAns %></p>
        <p class="res">Wrong Answer : <%=wrongAns %></p>
      </div>
      <div class="thankforsubmit">
        <h1><b>THANKS FOR SUMBIT</b></h1>
      </div>
    </div>
  </body>
</html>
